/* .App {
  display: flex;
  justify-content: center;
} */

.sidenav---sidenav---_2tBP {
  position: fixed;
  background-color: #24292e;
}

.card-text {
  word-wrap: break-word;
}
.card-header {
  font-weight: bold;
  word-wrap: break-word;
}

.row {
  display: inline-block;
}

.container {
  display: flex;
  justify-content: center;
}

.inputContainer {
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
}

@media (max-width: 759px) {
  .sidenav---sidenav---_2tBP {
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
