/* .App {
  display: flex;
  justify-content: center;
} */
* {
  font-family: Montserrat;
}

.sidenav---sidenav---_2tBP {
  position: fixed;
  background-color: #24292e;
}

.card-text {
  word-wrap: break-word;
}
.card-header {
  font-weight: bold;
  word-wrap: break-word;
}

.row {
  display: inline-block;
}

.container {
  display: flex;
  justify-content: center;
}

.inputContainer {
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
}

@media (max-width: 759px) {
  .sidenav---sidenav---_2tBP {
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* .App {
  display: flex;
  justify-content: center;
} */
* {
  font-family: Montserrat;
}

.sidenav---sidenav---_2tBP {
  position: fixed;
  background-color: #24292e;
}

.card-text {
  word-wrap: break-word;
}
.card-header {
  font-weight: bold;
}

.row {
  display: inline-block;
}

.container {
  display: flex;
  justify-content: center;
}

.inputContainer {
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
}

@media (max-width: 759px) {
  .sidenav---sidenav---_2tBP {
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
  }
}

.issue-card {
  margin-top: 50px;
}

.logo {
  height: 43px;
  width: 171px;
}

.background-home-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 551px;
  width: 667px;
  margin-top: 30px;
}
section {
  background-color: #15275f;
  height: 700px;
  padding-top: 30px;
}

.btn-search {
  color: #15275f;
  border: 1px solid #15275f;
}

.btn-search:hover {
  background-color: #15275f;
  border: 1px solid #15275f;
}

.title-homepage {
  color: #15275f;
  font-weight: 600;
  margin: 30px;
  line-height: 1.7;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-title-homepage {
  /* margin-top: -400px; */
  margin-right: 60px;
  background-color: white;
  height: 400px;
  width: 400px;
  border-radius: 7px;
}

.content-homepage {
  color: #15275f;
  margin: 30px;
  line-height: 1.8;
}

.page-footer {
  background-color: #051139;
  color: white;
}

.btn-signup {
  color: white;
  border: 1px solid white;
  border-radius: 6px;
}

.profile-img {
  width: 50px;
  border: 2px solid #15275f;
  border-radius: 45px;
}

.name-profile {
  margin-left: 12px;
  margin-top: 25px;
}

.header-card {
  display: flex;
  justify-content: space-between;
}

.condition-badge {
  margin-right: 15px;
  margin-top: 18px;
}

.second-body-card {
  display: flex;
  justify-content: space-between;
}
#issueCardBody {
  padding: 0 !important;
  max-height: 0px !important;
}
